*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', 'Arial', 'Helvetica', 'sans-serif';
}

body{
min-height:100vh;
background:linear-gradient(135deg,#5d0db8,#7f2aff,#5d0db8);
color:white;
padding:20px;
}

.container{
max-width:900px;
margin:30px auto;
padding:40px;
display:flex;
flex-direction:column;
background:rgba(255,255,255,0.12);
border-radius:20px;
}

h1{
text-align:center;
margin-bottom:20px;
font-size:40px;
}

h2,
h3,
h4{
margin-top:15px;
margin-bottom:8px;
}

.subtitulo{
text-align:center;
margin-top:10px;
color:#f1e8ff;
font-size:22px;
}

footer{
margin-top:40px;
text-align:center;
color:#e8d9ff;
font-size:18px;
}

.logo-acai{
display:flex;
justify-content:center;
align-items:center;
margin-bottom:25px;
}

.logo-acai img{
width:200px;
height:auto;        
margin-bottom:15px;
}

.logo-acai img:hover{
cursor:pointer;
}

label{
display:block;
margin-top:15px;
margin-bottom:8px;
font-weight:bold;
color:#f1e8ff;
}

input,
select,
textarea{
width:100%;
padding:12px;
border:none;
border-radius:10px;
margin-bottom:15px;
font-size:16px;
}

button{
background-color:white;
color:#5d0db8;
border:none;
border-radius:10px;
padding:12px 20px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

button:hover{
background-color:#e7d8ff;
}

a{
text-decoration:none;
}

.menu-principal{
margin-top:30px;
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap:20px;
}

.menu-principal button{
width:250px;
height:90px;
border-radius:20px;
background:white;
color:#5d0db8;
font-size:22px;
font-weight:bold;
transition:0.3s;
}

.menu-principal button:hover{
background:#f8f1ff;
}

.botoes{
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;
gap:15px;
margin-top:30px;
}

.sobre{
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:25px;
margin-top:25px;
}

table{
width:100%;
background-color:white;
color:black;
border-collapse:collapse;
margin-top:20px;
border-radius:10px;
}

th{
background-color:#5d0db8;
color:white;
}

th,
td{
padding:12px;
border:1px solid #ddd;
}